:root {
  /* Fonts */
  --main-fonts: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* color*/
  --pimary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --bg-dark-color: #2f303a;
  --bg-grey-color: #f5f4fa;
  --btn-hover-color: #188ce8;
  --border-color: #ececec;
  --logo-black-color: #000000;
  --background-color-hero: #c4c4c4;
  --icon-color: #afb1b8;
  --bg-color-fotter: #2f303a;
  /* others */
  --indent: 30px;
  --items: 3;
  /* time */
  --timeng-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.portfolio, .clients, .team, .doing, .offer, .hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  color: var(--pimary-color);
  font-family: var(--main-fonts);
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-titel {
  color: var(--secondary-color);
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--timeng-function), fill var(--timeng-function);
  transition: background-color var(--timeng-function), fill var(--timeng-function);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--white-color);
}

.socials__icon {
  fill: var(--icon-color);
  -webkit-transition: fill var(--timeng-function);
  transition: fill var(--timeng-function);
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo__color {
  color: var(--logo-black-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
}

.footer__logo-color {
  color: var(--white-color);
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.footer-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #43444d;
  -webkit-transition: background-color var(--timeng-function), fill var(--timeng-function);
  transition: background-color var(--timeng-function), fill var(--timeng-function);
}
.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--accent-color);
}

.footer-socials__icon {
  fill: var(--white-color);
}

.form-fotter__titel {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--white-color);
}

.form-fotter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}

.form-fotter__input {
  display: block;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: var(--bg-dark-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: transparent;
  border-radius: 4px;
}
.form-fotter__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-fotter__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-fotter__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-fotter__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-fotter__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-fotter-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color var(--timeng-function);
  transition: background-color var(--timeng-function);
  cursor: pointer;
}
.form-fotter-btn:hover, .form-fotter-btn:focus {
  background-color: var(--btn-hover-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity var(--timeng-function), visibility var(--timeng-function);
  transition: opacity var(--timeng-function), visibility var(--timeng-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--timeng-function), -webkit-transform var(--timeng-function);
  transition: opacity var(--timeng-function), -webkit-transform var(--timeng-function);
  transition: transform var(--timeng-function), opacity var(--timeng-function);
  transition: transform var(--timeng-function), opacity var(--timeng-function), -webkit-transform var(--timeng-function);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.75);
          transform: translate(-50%, -50%) scale(0.75);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: fill var(--timeng-function);
  transition: fill var(--timeng-function);
  cursor: pointer;
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--accent-color);
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.modal-form__titel {
  display: block;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.form-group {
  position: relative;
}

.form-group__titel {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--pimary-color);
}

.form-group__input {
  display: block;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  -webkit-transition: border-color var(--timeng-function);
  transition: border-color var(--timeng-function);
}
.form-group__input:hover, .form-group__input:focus {
  border-color: var(--accent-color);
}
.form-group__input:hover + .form-group__icon, .form-group__input:focus + .form-group__icon {
  fill: var(--accent-color);
}

.form-group__icon {
  position: absolute;
  top: 28px;
  left: 12px;
  -webkit-transition: fill var(--timeng-function);
  transition: fill var(--timeng-function);
}

.form-group__icon-right {
  position: absolute;
  top: 28px;
  right: 12px;
  -webkit-transition: fill var(--timeng-function);
  transition: fill var(--timeng-function);
}

.form-group__icons-sad {
  fill: rgb(255, 0, 0);
}

.form-group__icons-smile {
  fill: rgb(15, 128, 0);
}

.form-group__icons-sad,
.form-group__icons-smile {
  opacity: 0;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: opacity var(--timeng-function), -webkit-transform var(--timeng-function);
  transition: opacity var(--timeng-function), -webkit-transform var(--timeng-function);
  transition: opacity var(--timeng-function), transform var(--timeng-function);
  transition: opacity var(--timeng-function), transform var(--timeng-function), -webkit-transform var(--timeng-function);
}

.form-group__input:focus:invalid:required:not(:-moz-placeholder-shown) ~ .form-group__icon-right .form-group__icons-sad {
  opacity: 1;
  transform: scale(1);
}

.form-group__input:focus:invalid:required:not(:-ms-input-placeholder) ~ .form-group__icon-right .form-group__icons-sad {
  opacity: 1;
  transform: scale(1);
}

.form-group__input:focus:invalid:required:not(:placeholder-shown) ~ .form-group__icon-right .form-group__icons-sad {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.form-group__input:focus:valid:required:not(:-moz-placeholder-shown) ~ .form-group__icon-right .form-group__icons-smile {
  opacity: 1;
  transform: scale(1);
}

.form-group__input:focus:valid:required:not(:-ms-input-placeholder) ~ .form-group__icon-right .form-group__icons-smile {
  opacity: 1;
  transform: scale(1);
}

.form-group__input:focus:valid:required:not(:placeholder-shown) ~ .form-group__icon-right .form-group__icons-smile {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.form-textaria {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  -webkit-transition: border-color var(--timeng-function);
  transition: border-color var(--timeng-function);
  cursor: pointer;
}
.form-textaria:hover, .form-textaria:focus {
  border-color: var(--accent-color);
}

.form-textaria::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textaria::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textaria:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textaria::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textaria::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}

.input-checbox:checked + .register-form__icon .register-form__icon-uncheck {
  opacity: 0;
  -webkit-transition: opacity var(--timeng-function);
  transition: opacity var(--timeng-function);
}

.register-form__icon-check {
  opacity: 0;
  -webkit-transition: opacity var(--timeng-function);
  transition: opacity var(--timeng-function);
}
.input-checbox:checked + .register-form__icon .register-form__icon-check {
  opacity: 1;
}

.text-checbox {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--pimary-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checbox-link {
  text-underline-position: under;
  text-decoration: underline;
  color: var(--accent-color);
}

.madal-form-btn {
  display: block;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color var(--timeng-function);
  transition: background-color var(--timeng-function);
  cursor: pointer;
}
.madal-form-btn:hover, .madal-form-btn:focus {
  background-color: var(--btn-hover-color);
}

.header {
  border: 1px solid var(--border-color);
  border-top: none;
  border-right: none;
  border-left: none;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.header__nav {
  margin-right: auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.header__icon {
  fill: currentColor;
}

.header__mailto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--pimary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--timeng-function);
  transition: color var(--timeng-function);
}
.header__mailto:hover, .header__mailto:focus {
  color: #2196f3;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--pimary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--timeng-function);
  transition: color var(--timeng-function);
}
.header__phone:hover, .header__phone:focus {
  color: var(--accent-color);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--timeng-function);
  transition: color var(--timeng-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity var(--timeng-function);
  transition: opacity var(--timeng-function);
}

.nav__link:hover::after,
.nav__link:focus::after {
  opacity: 1;
}

.nav__link--current {
  color: var(--accent-color);
}

.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
}

.hero {
  text-align: center;
}

.hero__wrap {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color-hero);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Image01.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Image01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--white-color);
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--timeng-function);
  transition: background-color var(--timeng-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--btn-hover-color);
  border: none;
}

.offer__section {
  padding-bottom: 0;
}

.offer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--indent);
}

.offer-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.offer-list__item {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
}

.offer-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--bg-grey-color);
  border-radius: 4px;
}

.offer__wrapper {
  margin-bottom: 30px;
}

.offer-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.doing__section {
  padding-top: 0;
}

.doing-section__titel {
  margin-bottom: 50px;
}

.doing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--indent);
}

.doing-list__tumb {
  position: relative;
}

.doing-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--bg-grey-color);
}

.team__section-titel {
  margin-bottom: 50px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--indent);
}

.team-list__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  border-top: none;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
  background: var(--white-color);
  letter-spacing: 0.03em;
  border-radius: 0px 0px 4px 4px;
}

.team-container__subtitel {
  margin-bottom: 10px;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-container__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients__section-titel {
  margin-bottom: 50px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: border-color var(--timeng-function), fill var(--timeng-function);
  transition: border-color var(--timeng-function), fill var(--timeng-function);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__icon {
  fill: var(--icon-color);
  -webkit-transition: fill var(--timeng-function);
  transition: fill var(--timeng-function);
}

.footer {
  background-color: var(--bg-color-fotter);
}

.footer__section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 231px;
}

.column-footer {
  margin-right: 70px;
}

.footer__address {
  margin-bottom: 9px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer__item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.footer__mailto {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.02em;
  -webkit-transition: color var(--timeng-function);
  transition: color var(--timeng-function);
}
.footer__mailto:hover, .footer__mailto:focus {
  color: var(--accent-color);
}

.footer__phone {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.02em;
  -webkit-transition: color var(--timeng-function);
  transition: color var(--timeng-function);
}
.footer__phone:hover, .footer__phone:focus {
  color: var(--accent-color);
}

.footer__titel {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 206px;
  margin-right: 93px;
}

.portfolio-btn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.portfolio-button {
  margin-bottom: 50px;
}

.portfolio__btn {
  padding: 6px 22px;
  color: var(--secondary-color);
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background-color: var(--bg-grey-color);
  -webkit-transition: color var(--timeng-function), background-color var(--timeng-function), -webkit-box-shadow var(--timeng-function);
  transition: color var(--timeng-function), background-color var(--timeng-function), -webkit-box-shadow var(--timeng-function);
  transition: color var(--timeng-function), background-color var(--timeng-function), box-shadow var(--timeng-function);
  transition: color var(--timeng-function), background-color var(--timeng-function), box-shadow var(--timeng-function), -webkit-box-shadow var(--timeng-function);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__btn--current {
  background-color: var(--accent-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--indent);
}

.portfolio__item {
  position: relative;
  -webkit-transition: color var(--timeng-function), -webkit-box-shadow var(--timeng-function);
  transition: color var(--timeng-function), -webkit-box-shadow var(--timeng-function);
  transition: color var(--timeng-function), box-shadow var(--timeng-function);
  transition: color var(--timeng-function), box-shadow var(--timeng-function), -webkit-box-shadow var(--timeng-function);
}
.portfolio__item:hover .portfolio-product__thumb .portfolio-product__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.portfolio__item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-product__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-product__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: var(--timeng-function);
  transition: var(--timeng-function);
}

.portfolio-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  overflow: hidden;
  z-index: 1000;
}

.portfolio-wrapper__titel {
  margin-bottom: 4px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  letter-spacing: 0.06em;
}

.portfolio-wrapper__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */