.footer {
  background-color: var(--bg-color-fotter);
}

.footer__section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  @media screen and(min-width:768px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

.footer__column {
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and(min-width:768px) and (max-width: 1199px) {
    width: 231px;
    justify-content: center;
    margin-right: 165px;
    margin-left: 61px;
  }

  @media screen and(min-width:1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 231px;
  }
}

.column-footer {
  @media screen and(min-width:1200px) {
    margin-right: 70px;
  }
}

.footer__address {
  margin-bottom: 9px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-align: center;

  @media screen and(min-width:480px) {
    text-align: center;
    margin-bottom: 8px;
  }
}

.footer__item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.footer__mailto {
  text-align: center;
  display: block;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.02em;
  transition: color var(--timeng-function);

  @media screen and(min-width:1200px) {
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.footer__phone {
  text-align: center;
  display: block;

  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.02em;
  transition: color var(--timeng-function);

  @media screen and(min-width:1200px) {
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  @media screen and(max-width:767px) {
    margin-bottom: 60px;
  }
}

.footer__titel {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  @media screen and(min-width:1200px) {
  }
}

.footer-wrapper {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 206px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
@media screen and(min-width:768px) and (max-width: 1199px) {
  .footer__list {
    margin-bottom: 60px;
  }
}
