.header {
  border: 1px solid var(--border-color);
  border-top: none;
  border-right: none;
  border-left: none;
}

.header__container {
  display: flex;
  align-items: center;

  @media screen and(max-width:767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media screen and(min-width:1200px) {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  @media screen and(min-width:768px) {
    margin-right: 87px;
  }
  @media screen and(min-width:1200px) {
    margin-right: 93px;
  }
}

.header__nav {
  @media screen and(min-width:1200px) {
    margin-right: auto;
  }
}

.header__list {
  display: flex;
  @media screen and(min-width:768px) {
    flex-wrap: wrap;
    gap: 10px;
  }

  @media screen and(min-width:1200px) {
    gap: 50px;
  }
}

.header__icon--mail,
.header__icon--phone {
  fill: currentColor;
}

@media screen and(min-width:1200px) {
  .header__icon--mail {
    width: 16px;
    height: 12px;
  }

  .header__icon--phone {
    width: 10px;
    height: 16px;
  }
}

.header__link {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--pimary-color);
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;

  transition: color var(--timeng-function);

  &:hover,
  &:focus {
    color: #2196f3;
  }

  @media screen and(max-width:767px) {
    display: none;
  }

  @media screen and(min-width:1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 10px;

    font-size: 14px;
    line-height: 1.14;
  }
}

.menu__header--btn {
  width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  border: none;

  @media screen and(min-width:768px) {
    display: none;
  }
}
