.portfolio {
  @extend %section;
}

.portfolio-btn__list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.portfolio-button {
  margin-bottom: 50px;
}

.portfolio__btn {
  padding: 6px 22px;

  color: var(--secondary-color);
  border: none;
  font-family: inherit;
  cursor: pointer;
  @include fonts(16px, 26px, 500);
  border-radius: 4px;
  background-color: var(--bg-grey-color);
  transition: color var(--timeng-function), background-color var(--timeng-function),
    box-shadow var(--timeng-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__btn--current {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  gap: var(--indent);
}

.portfolio__item {
  position: relative;
  transition: color var(--timeng-function), box-shadow var(--timeng-function);

  &:hover .portfolio-product__thumb .portfolio-product__text {
    transform: translateY(0);
    opacity: 1;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-product__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-product__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;

  @include fonts(18px, 28px, 400);
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: var(--timeng-function);
}

.portfolio-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border: 1px solid #eeeeee;
  border-top: none;
  overflow: hidden;
  z-index: 1000;
}

.portfolio-wrapper__titel {
  margin-bottom: 4px;

  color: var(--secondary-color);
  @include fonts(18px, 36px, 700);
  letter-spacing: 0.06em;
}

.portfolio-wrapper__text {
  @include fonts(16px, 30px, 400);
}
