.form-fotter__titel {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--white-color);
}

.form-fotter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.form-fotter__input {
  display: block;
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  background-color: var(--bg-dark-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: transparent;
  border-radius: 4px;

  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    color: rgba(255, 255, 255, 0.6);
  }
}

.form-fotter-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  min-width: 200px;
  min-height: 50px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--timeng-function);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
  }
}
