.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #43444d;
  transition: background-color var(--timeng-function), fill var(--timeng-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-socials__icon {
  fill: var(--white-color);
}
