.footer__logo {
  display: block;
  margin-bottom: 20px;

  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
}

.footer__logo-color {
  color: var(--white-color);
}
